- provide :title, @recipe.title

%article[Mida(:Recipe)]
  %header
    %h2[:name]= @recipe.title
  %section[:recipeInstructions]
    = raw(@recipe.instructions)


= link_to 'Edit', edit_recipe_path(@recipe)
\|
= link_to 'Back', recipes_path
